/*
 * I wanted to do this: 
 * @import ../js/node_modules/bootstrap/dist/css/bootstrap.min.css;
 * @import ../js/node_modules/bootstrap-daterangepicker/daterangepicker.css;
 * 
 * Works great in my local environment with clean-css, but I haven't figured 
 * out how to install clean-css on ix, so for now I'll explicitly load all the 
 * style sheets in the html. 
 */

body {
    background-color: "#ccffcc";
}

#submit {
    margin-top: 15px;
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



#submit:hover {
    border: none;
    background:dodgerblue;
    box-shadow: 0px 0px 1px #777;
}

#with_space {
    margin-left: 30px;
    margin-right: 30px;
}