<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Include Date Range Picker Dependencies -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<!-- Include Time Range Picker Dependencies -->
<link rel="stylesheet" href="styles/kendo.common.min.css" />
<link rel="stylesheet" href="styles/kendo.default.min.css" />

<script src="js/jquery.min.js"></script>
<script src="js/kendo.all.min.js"></script>

<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<script type="text/javascript" 
   src="/static/js/busy.min.js">
</script>

</head>

<body>
<div class="container">

<h1>Busy times</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range</h2>
  <form action="/setrange" method="post">
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 13em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {
        ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

  <h4>Start time</h4>
  <input id="start" value="8:00 AM" style="width: 6%;" />

  <h4 style="margin-top: 1em;">End time</h4>
  <input id="end" value="8:30 AM" style="width: 6%;" />
  <script type="text/javascript">
      $(document).ready(function() {
          function startChange() {
              var startTime = start.value();
              if (startTime) {
                  startTime = new Date(startTime);
                  end.max(startTime);
                  startTime.setMinutes(startTime.getMinutes() + this.options.interval);
                  end.min(startTime);
                  end.value(startTime);
              }
          }

          //init start timepicker
          var start = $("#start").kendoTimePicker({
              change: startChange
          }).data("kendoTimePicker");

          //init end timepicker
          var end = $("#end").kendoTimePicker().data("kendoTimePicker");
          //define min/max range
          start.min("8:00 AM");
          start.max("6:00 PM");

          //define min/max range
          end.min("8:00 AM");
          end.max("7:30 AM");
      });
  </script>

<br /><input type="submit" id="submit" value="Find Times" />
</form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
{% if session.calendars is defined  %}
  <div class="row">
  {% for cal in session.calendars if cal.selected %}
          <div class="col-md-4">
	   {{ cal.summary }}
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>
{% endif %}
    

  </div>  <!-- container (for bootstrap) -->
  </body> </html>
